.App {
  text-align: center;
  color: white;
  font-size: 20px;
}

.Picture {
  border: 1px solid white;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 600px;
  height: 600px;
  object-fit: cover;
}

li{
  display: inline;
}

